<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <script>
    (function () {
      const theme = localStorage.getItem("theme");
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    })();
  </script>

  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{- partial "favicon.html" . -}}
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

  {{- partial "seo_tags.html" . -}}
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <link rel="stylesheet" href="/css/styles.css">
  {{- partial "custom_head.html" . -}}
</head>

<body>
  <div class="site-header">
    <div class="container header-inner">
      {{ partial "header.html" . }}
    </div>
  </div>

  {{/*  <main>
    <div class="container">
      {{ block "main" . }}{{ end }}
    </div>
  </main>  */}}

  <div class="page-content-wrapper">
    {{ block "main" . }}{{ end }}
  </div>

  <div class="site-footer">
    <div class="container footer-inner">
      {{ partial "footer.html" . }}
    </div>
  </div>

  {{ partial "custom_body.html" . }}
  
  <script src="/js/theme-toggle.js" defer></script>
  <script src="/js/disclaimer-toggle.js" defer></script>
  
</body>

</html>