{{ define "main" }}
{{ if or (eq .Section "posts") (eq .Section "projects") }}
<h2 style="text-align: center; margin-top: 0;">{{ .Title }}</h2>

{{ range .Pages }}
<article style="margin-bottom: 3rem;">
  {{ with .Params.banner }}
  <div>
    <img src="{{ . | relURL }}" alt="Banner"
      style="width: 100%; max-height: 175px; object-fit: cover; border-radius: 4px;">
  </div>
  {{ end }}
  <div style="text-align: center; margin-top: 1rem;">
    {{ if eq $.Section "posts" }}
    <time datetime="{{ .Date }}">{{ .Date.Format "02.01.2006" }}</time><br>
    {{ end }}
    <a href="{{ .RelPermalink }}"
      style="font-size: 1.25rem; font-weight: bold; text-decoration: none; color: var(--link-color);">{{ .Title }}</a>
  </div>
</article>
{{ end }}

{{ else if eq .Section "whitepapers" }}
<h2 style="text-align: center; margin-top: 0;">{{ .Title }}</h2>

<ul style="list-style: none; padding: 0;">
  {{ range .Pages }}
  <li style="margin-bottom: 2rem;">
    <a href="{{ .RelPermalink }}" style="font-size: 1.1rem; font-weight: bold;">{{ .Title }}</a><br>
    {{ with .Params.description }}
    <p>{{ . }}</p>
    {{ end }}
  </li>
  {{ end }}
</ul>

{{ else }}
<h1 style="margin-top: 0;">{{ .Title }}</h1>
<ul class="blog-posts">
  {{ range .Pages }}
  <li>
    <span>
      <i>
        <time datetime='{{ .Date.Format "2006-01-02" }}'>
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
      </i>
    </span>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ else }}
  <li>No posts yet</li>
  {{ end }}
</ul>
{{ end }}
{{ end }}