<meta name="title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}" />
<meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name="keywords" content="{{ if and .IsPage (isset .Params " tags") }}{{ range $index, $tag :=.Params.tags }}{{
    $tag }}{{ if ne (add $index 1) (len .Params.tags) }},{{ end }}{{ end }}{{ else }}{{ $allTaxonomyTags
    :=.Site.Taxonomies.tags.ByCount.Reverse }}{{ range $index, $term :=$allTaxonomyTags }}{{ $term.Term }}{{ if ne (add
    $index 1) (len $allTaxonomyTags) }},{{ end }}{{ end }}{{ end }}" />
<meta name="robots" content="index, follow">
<meta name="referrer" content="no-referrer-when-downgrade" />

<link rel="canonical" href="{{ .Permalink }}" />

{{ if .IsTranslated }}
{{ range .Translations }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" title="{{ .Lang }}" />
{{ end }}
{{ end }}