<div class="social-icons">
    {{ with site.Params.social.github }}
    <a href="{{ . }}" aria-label="GitHub" target="_blank" rel="noopener">
        {{ readFile "static/icons/bootstrap/github.svg" | safeHTML }}
    </a>
    {{ end }}
    {{ with site.Params.social.linkedin }}
    <a href="{{ . }}" aria-label="LinkedIn" target="_blank" rel="noopener">
        {{ readFile "static/icons/bootstrap/linkedin.svg" | safeHTML }}
    </a>
    {{ end }}
    {{ with site.Params.social.bluesky }}
    <a href="{{ . }}" aria-label="Bluesky" target="_blank" rel="noopener">
        {{ readFile "static/icons/bootstrap/bluesky.svg" | safeHTML }}
    </a>
    {{ end }}
    {{ with site.Params.social.discord }}
    <a href="{{ . }}" aria-label="Discord" target="_blank" rel="noopener">
        {{ readFile "static/icons/bootstrap/discord.svg" | safeHTML }}
    </a>
    {{ end }}
    {{ with site.Params.social.email }}
    <a href="{{ . }}" aria-label="E-Mail">
        {{ readFile "static/icons/bootstrap/mail.svg" | safeHTML }}
    </a>
    {{ end }}
</div>